extends layout

block content
  h1= title
  - let items = results
   div(class = "container-fluid")
    div(class = "row")
     each form, index in items
        div(class="col-sm-4" onclick=`buy(${index})`) Tablet-type: #{form.Tablet_type} 
        br
        br 
        div(class="col-sm-4" onclick=`buy(${index})`) composition: #{form.composition}
        br
        br  
        div(class="col-sm-4" onclick=`buy(${index})`) Tablet_features: #{form.Tablet_features}
        script.
                function buy(itemNo){
                    alert(`You purchased item ${itemNo+1}`)
                }